<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Order CRUD</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Order Details</h2>
    <div>
        <form class="form-horizontal" th:object="${order}" th:action="@{/order/update}" method="post">
            <input type="hidden" th:field="*{id}"/>


            <div class="form-group">
                <label class="col-sm-2 control-label">Customer Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customerName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Required Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{requiredDate}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ship Address:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{shipAddress}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ship Via:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{shipVia}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ship Date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{shippedDate}"/>
                </div>
            </div>

            <div class="form-group">
                 <label class="col-sm-2 control-label">Quantity:</label>
                 <div class="col-sm-10">
                     <input type="text" class="form-control" name="quantitities"/>
                     <span th:each="orderProducts, iterator : ${order.orderProducts}">
                     <input type="hidden" class="form-control" th:name="*{'quantity['+__${iterator.index}__+']'}"
                            th:value="*{orderProducts[__${iterator.index}__].quantity}"/>
                     </span>

                 </div>
            </div>
            <input type="hidden" class="form-control" name="orderproductid"/>
            <div class="form-group">
                 <label class="col-sm-2 control-label">Product Id:</label>
                 <div class="col-sm-10">
                     <input type="text" class="form-control" name="products"/>
                     <input type="hidden" class="form-control" name="productsold"/>
                     <span th:each="orderProducts, iterator : ${order.orderProducts}">
                     <input type="hidden" class="form-control" th:name="*{'productid['+__${iterator.index}__+']'}"
                            th:value="*{orderProducts[__${iterator.index}__].product.id}"/>
                     </span>
                 </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-2 control-label">Quantity:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="quantity"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Product ID:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="productid"/>
                </div>
            </div>-->
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    (function($) {
        'use strict';
        $(document).ready(function(){
            var product = "";
            var quantity = "";
            var orderproductid ="";
            $("input[name^=productid]").each( function(){
                product+= $(this).val()+",";
            });
            $("input[name^=quantity]").each( function(){
                quantity+= $(this).val()+",";
            });
            $("input[name^=orderproductids]").each( function(){
                orderproductid+= $(this).val()+",";
            });
            //new products
            $("input[name=products]").val(product.slice(0,-1));
            //old products
            $("input[name=productsold]").val(product.slice(0,-1));
            $("input[name=quantitities]").val(quantity.slice(0,-1));
            $("input[name=orderproductid]").val(orderproductid.slice(0,-1));
            console.log(product.slice(0,-1));
        });
    })( jQuery );

</script>
</body>
</html>